<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="">
    <label for="nama">Nama Lengkap</label>
    <input type="text" id="nama">
    <label for="email">Email</label>
    <input type="email" id="email">
    <label for="newPassword">New Password</label>
    <input type="password"  id="newPassword">
    <label for="repeatNewPassword">Repeat Password</label>
    <input type="password"  id="repeatNewPassword">
<button type="button" onclick="register()">submit</button>
</form>
<script src="../../js/script.js"></script> 
</html>