@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #b0e2ff;
}

.profile {
  background-color: #f9b76b;
}

.change {
  background-color: #f9b76b;
}
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100;
}

.dropdown-menu .dropdown-item {
  padding: 10px 20px; /* Atur padding sesuai keinginan */
  background-color: #ffffff; /* Warna background default */
}
.dropdown-menu .dropdown-item:hover {
  padding: 10px 20px; /* Atur padding sesuai keinginan */
  background-color: #797979; /* Warna background default */
}

/* Mengubah background saat di-hover */

.navigasi {
  background-color: #feb662;
}

.footer {
  background-color: #feb662;
}

.button {
  background-color: #639ff8;
}

.button:hover {
  transition: 0.5s;
  background-color: #0066ff;
}

.button1 {
  background-color: #ff6f00;
}

.button1:hover {
  transition: 0.5s;
  background-color: #fa4300;
}
