<div class="col-md-6 d-flex">
    <!-- Kelvin Tryanto -->
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4 text-center">
                <img src="../img/meetus/kelvin.JPG" class="img-fluid rounded-start cover" alt="KelvinStory" />
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title">-Kelvin Tryanto</h5>
                    <p class="card-text flex-grow-1">
                        Pertamanya hanya sekedar bertujuan cari kerja di Hactiv8, tak disangka ketemu teman-teman baru yang seru dan punya positive vibes dengan latar belakang yang berbeda-beda. Instrukturnya asik dan baik, Ko Jo yang introvert parah dan Ko Ardi yang tetap kupanggil koko walaupun dia lebih muda. Kukira akan membosankan untuk menjalani keseharian yang begitu-begitu saja, karena aku satu-satunya yang punya latar belakang IT di dalam kelas, ternyata seorang teman menyapa bernama Raga, lalu ada Nouval yang dipanggil Nopal abangnya Cutie di animasi Nopal, Kenn si Leo Toxic dan Grace si pendiam yang ternyata absurd API API API, ditambah lagi Mas Firman si ketawa paling toa ala Bapak komplek tapi super baik, tekun dan rajin. Terima kasih Phase0! Semangat semua! Maju! Menyala
                        Abangku! 🔥🔥🔥
                    </p>
                </div>
            </div>
        </div>

        <!-- Next row -->
        <div class="col-md-6 d-flex">
            <!-- Raga -->
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 text-center">
                        <img src="../img/meetus/raga.JPG" class="img-fluid rounded-start cover" alt="RagaStory" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title">-Raga</h5>
                            <p class="card-text flex-grow-1">walaupun kelas ini isinya Anomal semua ,Terima kasih banyak para teman-teman atas kerja sama nya untuk membangun kelas yang baik dan ber 🔥🔥 , thankyou juga buat ko josep dan ko Ardi sangat- sangat membantu saya dan yang lain nya !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex">
            <!-- Grace -->
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 text-center">
                        <img src="../img/meetus/grace.JPG" class="img-fluid rounded-start cover" alt="GraceStory" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title">-Grace</h5>
                            <p class="card-text flex-grow-1">Kukira akan membosankan untuk menjalani keseharian yang begitu-begitu saja, karena aku satu-satunya yang punya latar belakang IT di dalam kelas...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Last row -->
        <div class="col-md-6 d-flex">
            <!-- Nouval -->
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 text-center">
                        <img src="../img/meetus/nouval.JPG" class="img-fluid rounded-start cover" alt="NouvalStory" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title">-Nouval</h5>
                            <p class="card-text flex-grow-1">Pertamanya hanya sekedar bertujuan cari kerja di Hactiv8, tak disangka ketemu teman-teman baru yang seru dan punya positive vibes dengan latar belakang yang berbeda-beda...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex">
            <!-- Kenny -->
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 text-center">
                        <img src="../img/meetus/kenny.JPG" class="img-fluid rounded-start cover" alt="KennyStory" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title">-Kenny</h5>
                            <p class="card-text flex-grow-1">Kukira akan membosankan untuk menjalani keseharian yang begitu-begitu saja, karena aku satu-satunya yang punya latar belakang IT di dalam kelas...</p>
                        </div>
                    </div>
                    <!-- message section end -->
                </div>
                <!-- content section end -->
            </div>
        </div>
    </div>
</div>
