<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="../img/icon/48x48.png" />
        <title>Hacktiventory | Item</title>
        <!-- TODO: menambahkan navbar dan footer window.onload.function -->
    </head>
    <body>
        <div class="navbar"></div>
        <!-- TODO: buat folder khusus untuk item yang berisi create, read (show), update (edit), delete(remove)-->
        <!-- TODO: buat create item...  -->
        <!-- TODO: buat edit button -->
        <!-- TODO: buat delete confirmation -->
        <!-- TODO: buat  -->

        <div class="footer"></div>
    </body>
</html>
