<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hacktiventory</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
        <link rel="stylesheet" href="../css/style.css" />
        <script>
            window.onload = function () {
                loadNavbar();
                loadFooter();
            };
        </script>

        <style>
            .card {
                border-radius: 20px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
            }
            .card img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                margin: 20px auto;
            }
            .card-title {
                font-size: 1.5rem;
                font-weight: bold;
            }
            .btn-about {
                background-color: #ff9800;
                color: white;
                border-radius: 20px;
            }
            .stars {
                color: gold;
            }
            .card:hover {
                border: 5px solid #ffcf96;
                box-shadow: 0 0 5px #ffcf96, inset 0 0 5px #ffcf96;
            }
        </style>
    </head>

    <body>
        <!-- nav section start -->
        <div id="navbar" class="sticky-top"></div>
        <!-- nav section end -->

        <!-- content section start -->
        <div class="container pt-4" style="min-height: 100vh">
            <h1 style="text-align: center; margin-bottom: 50px">Our Story</h1>

            <!-- message section start -->
            <div class="row g-4">
                <div class="col-md-6 d-flex">
                    <!-- mas firman -->
                    <div class="card align-self-stretch">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="../img/meetus/firman.JPG" class="img-fluid rounded-start cover" alt="FirmanStory" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column h-100">
                                    <h5 class="card-title">-Firman Nurzaman</h5>
                                    <p class="card-text flex-grow-1">Teruntuk diriku di masa lalu. Mungkin kamu telah menemui banyak kekecewaan yang tidak terhitung dan bahkan tidak bisa mempercayai seorang pun. Tapi kali ini kamu telah menemukan teman dan guru yang bahkan tidak pernah kamu bayangkan. Karena kebaikan mereka kamu merasa bahagia dan semangat dalam belajar. Jadi ayo lanjutkan semangatmu dengan menatap kedepan dan cobalah meraih mereka yang telah mendukungmu untuk menjadi diri yang lebih baik lagi... Terimakasih team Batch 21, koh Josep dan koh Ardi.. Kalian adalah motivasi yang selalu menjadi api di dalam semangat ini...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex">
                    <!-- Kelvin Tryanto -->
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="../img/meetus/kelvin.JPG" class="img-fluid rounded-start cover" alt="KelvinStory" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column h-100">
                                    <h5 class="card-title">-Kelvin Tryanto</h5>
                                    <p class="card-text flex-grow-1">
                                        Pertamanya hanya sekedar bertujuan cari kerja di Hactiv8, tak disangka ketemu teman-teman baru yang seru dan punya positive vibes dengan latar belakang yang berbeda-beda. Instrukturnya asik dan baik, Ko Jo yang introvert parah dan Ko Ardi yang tetap kupanggil koko walaupun dia lebih muda. Kukira akan membosankan untuk menjalani keseharian yang begitu-begitu saja, karena aku satu-satunya yang punya latar belakang IT di dalam kelas, ternyata seorang teman menyapa bernama Raga, lalu ada Nouval yang dipanggil Nopal abangnya Cutie di animasi Nopal, Kenn si Leo Toxic dan Grace si pendiam yang ternyata absurd API API API, ditambah lagi Mas Firman si ketawa paling toa ala Bapak komplek tapi super baik, tekun dan rajin. Terima kasih Phase0! Semangat semua!
                                        Maju! Menyala Abangku! 🔥🔥🔥
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Next row -->
                <div class="col-md-6 d-flex">
                    <!-- Raga -->
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="../img/meetus/raga.JPG" class="img-fluid rounded-start cover" alt="RagaStory" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column h-100">
                                    <h5 class="card-title">-Raga</h5>
                                    <p class="card-text flex-grow-1">walaupun kelas ini isinya Anomal semua ,Terima kasih banyak para teman-teman atas kerja sama nya untuk membangun kelas yang baik dan ber 🔥🔥 , thankyou juga buat ko josep dan ko Ardi sangat- sangat membantu saya dan yang lain nya !</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex">
                    <!-- Grace -->
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="../img/meetus/grace.JPG" class="img-fluid rounded-start cover" alt="GraceStory" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column h-100">
                                    <h5 class="card-title">-Grace</h5>
                                    <p class="card-text flex-grow-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio, consequatur eum nulla quo cumque tenetur maiores, dignissimos earum ratione sit. Quaerat ab iusto culpa!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Last row -->
                <div class="col-md-6 d-flex">
                    <!-- Nouval -->
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="../img/meetus/nouval.JPG" class="img-fluid rounded-start cover" alt="NouvalStory" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column h-100">
                                    <h5 class="card-title">-Nouval</h5>
                                    <p class="card-text flex-grow-1">cuma bisa ucapin Terimakasih buat semua temen-temen atas supportnya satu sama lain, jujur gw baru pertama kali ketemu lingkungan belajar yang se positif ini, dan big thanks buat instructor saya di phase0 koh josep dan koh ardi yang udh ngebantu saya dan teman yg lain.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex">
                    <!-- Kenny -->
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="../img/meetus/kenny.JPG" class="img-fluid rounded-start cover" alt="KennyStory" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column h-100">
                                    <h5 class="card-title">-Kenny</h5>
                                    <p class="card-text flex-grow-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque voluptatum, dolorem quas illum error rem.</p>
                                </div>
                            </div>
                            <!-- message section end -->
                        </div>
                        <!-- content section end -->
                    </div>
                </div>
            </div>
        </div>

        <!-- footer Section start -->
        <div id="footer"></div>
        <!-- footer section end -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="../js/script.js"></script>
    </body>
</html>
