<!-- message section start -->
<div class="row g-4">
    <div class="col-md-6 d-flex">
        <!-- mas firman -->
        <class ="card align-self-stretch">
            <div class="row g-0">
                <div class="col-md-4 text-center">
                    <img src="../img/meetus/firman.JPG" class="img-fluid rounded-start cover" alt="FirmanStory" />
                </div>
                <div class="col-md-8">
                    <div class="card-body d-flex flex-column h-100">
                        <h5 class="card-title">-Firman Nurzaman</h5>
                        <p class="card-text flex-grow-1">Teruntuk diriku di masa lalu. Mungkin kamu telah menemui banyak kekecewaan yang tidak terhitung dan bahkan tidak bisa mempercayai seorang pun. Tapi kali ini kamu telah menemukan teman dan guru yang bahkan tidak pernah kamu bayangkan. Karena kebaikan mereka kamu merasa bahagia dan semangat dalam belajar. Jadi ayo lanjutkan semangatmu dengan menatap kedepan dan cobalah meraih mereka yang telah mendukungmu untuk menjadi diri yang lebih baik lagi... Terimakasih team Batch 21, koh Josep dan koh Ardi.. Kalian adalah motivasi yang selalu menjadi api di dalam semangat ini...</p>
                    </div>
                </div>
            </div></class
        >
    </div>
</div>
